<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FLASK HOME</title>
</head>
<body>
{% if name %}
    <h1>Video Status:  {{ name }}</h1>
{% else %}
    <h1>Video Status: no data</h1>
{% endif %}

{% if videoinLocalSize %}
    <h1>Video Local Size:  {{ videoinLocalSize }}</h1>
{% else %}
    <h1>Video Local Size: no data</h1>
{% endif %}

{% if videoinUsbSize %}
    <h1>Video USB Size:  {{ videoinUsbSize }}</h1>
{% else %}
    <h1>Video USB Size: no data</h1>
{% endif %}

</body>
</html>